{% extends "layout/layout.html" %}
{% load staticfiles %}


{%block title%}
{{ title }}
{%endblock%}


{%block content%}
<div class="cl bdWhite" style="height: 700px;">
    <ul style="width: 550px; margin:20px 0 0 50px;">
        <li>
            <h3><a href="/tool/b64" class="fWhite">BASE64 Encode/Decode</a></h3></li>
        <li>
            <h3>RSA Encode/Decode</h3></li>

    </ul>
    
</div>
{%endblock%}

{%block script%}
<script>
    $(document).ready(function() {
        $("#toolButton").addClass("active");
    });
</script>
{%endblock%}

{%block style%}
{%endblock%}