{% load staticfiles %}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    {%block style%}
    {%endblock%}
    <script language="javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script language="javascript" src="{% static 'js/js.js' %}"></script>
    {%block script%}
    {%endblock%}
    <script>
        $(document).ready(function() {
            timerWidger.init($(".content .cb .timer"));
        })
    </script>
</head>
<body class="bgBlack">
    <div class="content bdWhite">
        <div class="title bdWhite">
            <a href="/">
                <div class="button" id="homeButton">
                    Home
                </div>
            </a>
            <div class="button" id="essayButton">
                Essay
            </div>
            <a href="/tool">
                <div class="button" id="toolButton">
                    Tool
                </div>
            </a>
        </div>
        {%block content%}
        {%endblock%}
        <div class="cb bdWhite">
            <div class="timer"></div>
            <div class="copyRight">Copyright © 2015-2018, Taburiss.Com, All Rights Reserved</div>
        </div>
    </div>
</body>
</html>